<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>用户 - 注册</title>
    <meta name="keywords" content="用户">
    <meta name="description" content="用户">

    <link rel="shortcut icon" href="favicon.ico"> 
	<link href="css/bootstrap.min.css?v=3.3.5" rel="stylesheet">
    <link href="css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/style.min.css?v=4.0.0" rel="stylesheet"><base target="_blank">
    <script type="text/javascript" src="js/vue.min.js"></script>
	<script type="text/javascript" src="js/vue-resource.min.js"></script>
    <!--[if lt IE 8]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->
    <script>if(window.top !== window.self){ window.top.location = window.location;}</script>
</head>

<body class="gray-bg">

    <div class="middle-box text-center loginscreen  animated fadeInDown" id="userReg">
        <div style="margin-top: -70px;">
            <div>
                
                <h1 class="logo-name"><img src="img/logo-lin.png"></h1>

            </div>
            <h3 style="float: left;">用户-注册</h3>
				<a href="login.html" style="float: left; margin-left: 170px;margin-top: 5px;color: orange;">登录</a>

            <form class="m-t" role="form" action="index2.html">
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="用户名" required="" v-model="username">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="密码" required="" v-model="password">
                </div>
                <div class="form-group">
                    <select class="form-control" v-model="sex">
                    	<option value="男">男</option>
                    	<option value="女">女</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="姓名" required="" v-model="real_name">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="邮箱" required="" v-model="email">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="手机号" required="" v-model="acc_nbr">
                </div>
                <button type="button" class="btn btn-primary block full-width m-b" @click="register">注册</button>


                <p class="text-muted text-center" > <a href="#"><small>{{msg}}</small></a>
                </p>

            </form>
        </div>
    </div>
    <script type="text/javascript" src="js/userReg.js"></script>
    <script src="js/jquery.min.js?v=2.1.4"></script>
    <script src="js/bootstrap.min.js?v=3.3.5"></script>   
</body>

</html>